block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 订单编号
                    th 订单内容
                    th 订单总额
                    th 订单状态
                    th 用户名称
                    th 订单时间
                    th 查看
                    th 更新
                    th 删除
            tbody
                
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                            a(target="_blank", href="/detail/" ) 查看
                        td
                            a(target="_blank", href="/admin/movie_update/") 更新
                        td
                            button.btn.btn-danger.del(type="button", data-id="") 删除